body {
  background-color: #407088;
}
h1 {
 text-align: center;
  color: #ffb5b5;
  border: 10px solid #ffb5b5;
  margin: 20px auto;
  padding: 30px;
  border-radius: 4px;
}


h2 {
  color: #ffb5b5;
  border: 5px solid #ffb5b5;
 width: 30%;
 height: 45%;
 margin: auto;
 padding: 20px;

}

p {
  text-align: center;
}

div {
  background-color: #407088;
  color: #ffb5b5;
  width: 35%;
  padding: 10px;
  margin-top: 10px;
  border: 5px solid;
}

.row1 {
  width: 350px;
  display: block;
  margin: 0px auto 0 auto;
  padding: 20px;
  border-radius: 10px;
}

.row2 {
  width: 400px;
  display: block;
  margin: 20px auto 0 auto;
  padding: 10px;
}



h3 {
  text-align: center;
  font-size: large;
  color: #5f4444;
}

form {
  text-align: center;
  color: #ffb5b5;
  
}

input {
  color: #5f4444;
  border-radius: 4px;
}

button {
        color: #5f4444;
        font-weight: bold;
        background: #ffb5b5;
        padding: 10px 15px;
        font-size: 16px;
        font-weight: 500;
        display: block;
        margin: 20px auto;
        border: 1px solid white;
        border-radius: 10px;
        box-shadow: 3px 3px 3px #132743;
        transition: all 150ms ease-in-out;
      }

footer  {
  text-align: center;
}
